_CROSS_COMPILER_DIR_=/opt/gcc-arm-none-eabi-10.3-2021.10/bin
_CROSS_COMPILER_GCC_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-gcc
_CROSS_COMPILER_G++_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-g++
_CROSS_COMPILER_LD_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-ld
_CROSS_COMPILER_OBJDUMP_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-objdump
_CROSS_COMPILER_AR_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-ar
_CROSS_COMPILER_GDB_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-gdb

C_FLAGS += -g -mcpu=cortex-m3 -mthumb -std=c99 -Wall -Wfatal-errors \
	-Werror -fdata-sections -ffunction-sections  -nostartfiles -fno-exceptions