_CROSS_COMPILER_DIR_= ../../../compiler/gcc-arm-none-eabi-10.3-2021.10/bin
_CROSS_COMPILER_GCC_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-gcc
_CROSS_COMPILER_G++_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-g++
_CROSS_COMPILER_LD_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-ld
_CROSS_COMPILER_OBJDUMP_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-objdump
_CROSS_COMPILER_OBJCOPY_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-objcopy
_CROSS_COMPILER_AR_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-ar
_CROSS_COMPILER_GDB_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-gdb
_CROSS_COMPILER_SIZE_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-size

C_FLAGS += -g -Wall -Wfatal-errors  -Werror -Wno-int-to-pointer-cast \
    -fdata-sections -ffunction-sections  -nostartfiles -fno-exceptions \
    -ffreestanding

LD_FLAGS += --specs=nano.specs -lc -lnosys -lm -Wl,-u_printf_float\
    -nostartfiles --specs=rdimon.specs -lrdimon -Wl,--gc-sections
