PROJECT_ROOT_DIR=~/project
COMPILER_VERSION=compiler/arm-gnu-toolchain-13.2.Rel1-x86_64-arm-none-eabi

_CROSS_COMPILER_DIR_=$(PROJECT_ROOT_DIR)/$(COMPILER_VERSION)/bin
_CROSS_COMPILER_GCC_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-gcc
_CROSS_COMPILER_G++_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-g++
_CROSS_COMPILER_LD_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-ld
_CROSS_COMPILER_OBJDUMP_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-objdump
_CROSS_COMPILER_OBJCOPY_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-objcopy
_CROSS_COMPILER_AR_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-ar
_CROSS_COMPILER_GDB_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-gdb
_CROSS_COMPILER_SIZE_=$(_CROSS_COMPILER_DIR_)/arm-none-eabi-size

C_FLAGS += -g -Wall -Wfatal-errors  -Werror -Wno-int-to-pointer-cast \
	-fdata-sections -ffunction-sections -nostartfiles -fno-exceptions \
	-ffreestanding -Os

LD_FLAGS += --specs=nano.specs -lnosys -Wl,-u_printf_float -Wl,--gc-sections
LD_FLAGS += -lc -lm -lrdimon
